NVIDIA_API_KEY=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
NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1
NVIDIA_CHAT_MODEL=openai/gpt-oss-20b
NVIDIA_EMBEDDING_MODEL=nvidia/nv-embed-v1

# Optional OpenAI fallback
# OPENAI_API_KEY=your_openai_api_key
# OPENAI_BASE_URL=https://api.openai.com/v1
# OPENAI_CHAT_MODEL=gpt-4o-mini
# OPENAI_EMBEDDING_MODEL=text-embedding-3-small
